services:
    -
        class: ComposerAnalyzer\ComposerCollector
        arguments:
            cwd: %currentWorkingDirectory%
        tags:
            - phpstan.collector

rules:
    - ComposerAnalyzer\ComposerRule