includes:
    - extension.neon

parameters:
    level: 8
    paths:
        - src

    ignoreErrors:
        -
            identifier: missingType.generics

    composerAnalysis:
        ignoreAllShadowDeps: false
        ignoreAllDevDepsInProd: false
        ignoreAllProdDepsInDev: false
        ignoreAllUnusedDeps: false
        ignoreSpecificUnusedDeps:
            - phpstan/phpstan